<h1>list</h1>

<% @list.each do |list| %>
  <div class="card-product">
      <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <div class="card-product-infos">
      <%= list.name %>
    </div>
  </div>
<% end %>
