<h1>list</h1>
<div class = "container">
<ul>
<% @movies.each do |movie| %>
<li><%= movie.title %></li>
<li><%= movie.overview %></li>
<li><%= movie.poster_url %></li>
<li><%= movie.rating%></li>
<% end %>
</ul>
</div>
